ul.products_ul {
  border-bottom: 0;
}

ul#products li.product-listing {
  background: none;
  margin-left: -25px !important;
  margin-right: -25px !important;
  border-bottom: 0;
  position: relative;
}

ul.products_ul li img {
  width: 320px;
}

ul.products_ul li span {
  display: inline-block;
  width: 20px;
  color: #000;
  cursor: move;
  position: absolute;
}
